# 允许构建脚本
enable-pre-post-scripts=true
auto-install-peers=true
shamefully-hoist=true
unsafe-perm=true
ignore-scripts=false

# 允许特定包的构建脚本
public-hoist-pattern[]=*@parcel/watcher
public-hoist-pattern[]=*core-js
public-hoist-pattern[]=*esbuild

# 允许所有脚本执行
scripts-ignore=false
