/* 颜色相关 */
// 渐变色 左->右
.c-gradient-primary {
  background: linear-gradient(to right, var(--primary100), var(--primary200), var(--primary300));
}
.c-gradient-accent {
  background: linear-gradient(to right, var(--accent100), var(--accent200));
}
.c-gradient-bg {
  background: linear-gradient(to right, var(--bg100), var(--bg200), var(--bg300));
}
// 渐变色 右->左
.c-gradient-primary-reverse {
  background: linear-gradient(to left, var(--primary100), var(--primary200), var(--primary300));
}
.c-gradient-accent-reverse {
  background: linear-gradient(to left, var(--accent100), var(--accent200));
}
.c-gradient-bg-reverse {
  background: linear-gradient(to left, var(--bg100), var(--bg200), var(--bg300));
}
// 渐变色 上->下
.c-gradient-primary-top {
  background: linear-gradient(to bottom, var(--primary100), var(--primary200), var(--primary300));
}
.c-gradient-accent-top {
  background: linear-gradient(to bottom, var(--accent100), var(--accent200));
}
.c-gradient-bg-top {
  background: linear-gradient(to bottom, var(--bg100), var(--bg200), var(--bg300));
}
// 渐变色 下->上
.c-gradient-primary-bottom {
  background: linear-gradient(to top, var(--primary100), var(--primary200), var(--primary300));
}
.c-gradient-accent-bottom {
  background: linear-gradient(to top, var(--accent100), var(--accent200));
}
.c-gradient-bg-bottom {
  background: linear-gradient(to top, var(--bg100), var(--bg200), var(--bg300));
}
// 左上->右下
.c-gradient-primary-top-left {
  background: linear-gradient(
    to bottom right,
    var(--primary100),
    var(--primary200),
    var(--primary300)
  );
}
.c-gradient-accent-top-left {
  background: linear-gradient(to bottom right, var(--accent100), var(--accent200));
}
.c-gradient-bg-top-left {
  background: linear-gradient(to bottom right, var(--bg100), var(--bg200), var(--bg300));
}
// 右上->左下
.c-gradient-primary-top-right {
  background: linear-gradient(
    to bottom left,
    var(--primary100),
    var(--primary200),
    var(--primary300)
  );
}
.c-gradient-accent-top-right {
  background: linear-gradient(to bottom left, var(--accent100), var(--accent200));
}
.c-gradient-bg-top-right {
  background: linear-gradient(to bottom left, var(--bg100), var(--bg200), var(--bg300));
}
// 左下->右上
.c-gradient-primary-bottom-left {
  background: linear-gradient(
    to top right,
    var(--primary100),
    var(--primary200),
    var(--primary300)
  );
}
.c-gradient-accent-bottom-left {
  background: linear-gradient(to top right, var(--accent100), var(--accent200));
}
.c-gradient-bg-bottom-left {
  background: linear-gradient(to top right, var(--bg100), var(--bg200), var(--bg300));
}
// 右下->左上
.c-gradient-primary-bottom-right {
  background: linear-gradient(to top left, var(--primary100), var(--primary200), var(--primary300));
}
.c-gradient-accent-bottom-right {
  background: linear-gradient(to top left, var(--accent100), var(--accent200));
}
.c-gradient-bg-bottom-right {
  background: linear-gradient(to top left, var(--bg100), var(--bg200), var(--bg300));
}
